.select {
  min-height: 56px;
}

.select2-container--default .select2-selection--single {
  height: 100%;
  min-height: 56px;
  display: flex;
  align-items: center;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  top: 50%;
  right: 16px;
  transform: translateY(-50%);
}

.select2-selection.select2-selection--single {
  border: 0;
  background: $white;
  border-radius: 50px;
}

.select2-selection__placeholder {
  color: $dark-grey;
}

.select2-container .select2-selection--single .select2-selection__rendered {
  padding: 15px 30px;
}

.select2-search {
  display: none;
}
.select2-container--default.select2-container--open.select2-container--below .select2-selection--single {
  border-radius: 20px 20px 0px 0px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  color: #000;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 25.2px */
}

.select2-container--focus {
  border-color: $blue-main;
}

.select2-dropdown.select2-dropdown--below {
  padding-top: 10px;
}

.select2-dropdown {
  padding: 15px 30px;
  border: none;
  background: $white;
  border-radius: $border-radius;
}

.select2-search.select2-search--dropdown {
  padding: 0;
  padding: 8px 12px;
  border: 1px solid $grey-3;
  border-radius: 12px;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
  border: 0;
}

.select2-results__options {
  display: flex;
  flex-direction: column;
  gap: 12px;

  &::-webkit-scrollbar {
    width: 4px;
    border-radius: 4px;
  }
  
  /* Track */
  &::-webkit-scrollbar-track {
    border-radius: 4px;
    background: $grey-2; 
  }

  &::-webkit-scrollbar-thumb {
    background: $grey-3; 
    border-radius: 10px;
  }
}

.select2-results__option.select2-results__option--selectable.select2-results__option--highlighted {
  background: transparent;
  color: #0E0E13;
}

.select2-results__option.select2-results__option--selectable.select2-results__option--selected {
  background: transparent;
}

.select2-results__option.select2-results__option--selectable {
  color: #9BA1B3;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 25.2px */
  padding: 0;
}
