.header-text-xl {
  font-family: 'PTRootUI', sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  
  @media (max-width: 1220px) {
    font-size: 28px;
    line-height: 34px;
  }
}

.header-text-l {
  font-family: 'PTRootUI', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  
  @media (max-width: 1220px) {
    font-size: 20px;
    line-height: 28px;
  }
}

.header-text-m {
  font-family: 'PTRootUI', sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  
  @media (max-width: 1220px) {
    font-size: 18px;
    line-height: 28px;
  }
}

.header-text-s {
  font-family: 'PTRootUI', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}

.regular-text-l {
  font-family: 'PTRootUI', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;

  @media (max-width: 1220px) {
    font-size: 18px;
    line-height: 24px;
  }
}

.regular-text-m {
  font-family: 'PTRootUI', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.regular-text-s {
  font-family: 'PTRootUI', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.button-text {
  font-family: 'PTRootUI', sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
}

@mixin button-text {
  font-family: 'PTRootUI', sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
}


.menu-text {
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 25.2px */
}

.body-text {
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 28px */
}

.title-l {
  font-family: Inter;
  font-size: 60px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 72px */
}

.title-s {
  font-family: Inter;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
}

.title-m {
  font-family: Inter;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 48px */
}

.body-bold {
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 24px */
}

.small-text {
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}