$black: #151515;
$white: #fff;

$blue-main: #2E58DB;
$blue-dark: #1641BC;
$sky-blue: #E4ECF8;

$purple: #731EFF;

$green: #0A945A;

$red: #D02D2D;

$grey-2: #DCE1E9;
$grey-3: #9CA5B3;
$light-grey: #F3F6FB;
$dark-grey: #646970;

$body-background-color: #f4f5fc;
$text-color-light: #DCE1E9;
$text-color: #151515;
$text-color-gray: #9CA5B3;
$text-color-darkGray: #646970;

$accent-color: #2E58DB;
$accent-color-light: #E4ECF8;

$border-color-gray: #9CA5B3;

$icon-color: #646970;
$icon-color-light: #9CA5B3;

$foreground-color: #fff;
$caption-color: #464646;
$link-color: #ec1f4e;

$border-radius: 16px;

:root {
  --blue-main: #2E58DB;
}