.brands {
  border-radius: 100px 100px 0px 0px;
  padding-top: 80px;
  padding-bottom: 35px;
  background: #F2F6FD;

  &-catalog {
    border-radius: 0;
    background: $white;
  }

  &__container {
    display: flex;
    flex-direction: column;
    gap: 60px;
  }

  &__big__wrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 20px;
  }

  &__small__wrapper {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
    margin-top: 20px;
  }

  &__button {
    width: fit-content;
    height: 45px;
    margin: 0 auto;
    margin-top: 60px;
  }
}

.brand {
  &__big__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    align-self: stretch;
    border-radius: 8px;
    border: 1px solid #9BA1B3;
    background: $white;
    padding-top: 10px;
    padding-bottom: 10px;

    &__logo {
      width: 70px;
      height: 70px;
      margin-bottom: 5px;
    }

    &__name {
      text-align: center;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }

    &__count {
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      color: #425EF1;
    }
  }

  &__item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
    align-self: stretch;
    border-radius: 8px;
    border: 1px solid #9BA1B3;
    background: $white;
    padding: 10px;

    &__name {
      text-align: center;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      margin-right: 7px;
      width: 100%;
    }

    &__count {
      flex-shrink: 0;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      color: #425EF1;
    }

    &__logo {
      flex-shrink: 0;
      width: 28px;
      height: 28px;
      margin-bottom: 5px;
    }
  }
}

@media (max-width: 1100px) {
  .brands {
    border-radius: 20px 20px 0px 0px;
    padding-top: 30px;
    padding-bottom: 30px;

    &__title {
      font-size: 24px;
      font-style: normal;
      font-weight: 500;
      line-height: 120%; /* 28.8px */
    }

    &__container {
      gap: 24px;
    }

    &__small__wrapper {
      grid-template-columns: repeat(3, 1fr);
    }

    .brand__item {
      border: none;
      background: transparent;
      flex-wrap: wrap;
      padding: 0;

      &__name {
        width: fit-content;
        margin-right: 0;
      }

      &__logo {
        margin: 0;
        width: 100%;
        height: 70px;
      }
    }

    &__big__wrapper {
      display: none;
    }

    &__wrapper {
    }
  }
}
