.car-item {
  border-radius: 20px;
  background: $white;
  box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  width: fit-content;
  position: relative;

  &__fav__badge {
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 2;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    background: #BCC5E2;
    cursor: pointer;
    transition: 0.3s background;
    
    &:hover {
        background: #7d8fe7;
    }

    &.active, &:active {
        background: #425EF1;
    }

    .favourite-icon {
        width: 16px;
        height: 16px;
    }
  }

  &__badge {
    position: absolute;
    z-index: 2;
    border-radius: 50px;
    background: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 5px 10px 7px 10px;
    width: fit-content;

    &.badge-in-sale {
        top: 10px;
        left: 10px;
        color: #425EF1;
    }

    &.badge-stock {
        left: 10px;
        top: 45px;
        background: #FF4242;
        color: var(---1-White, #FFF);
    }

  }
 
  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .swiper-pagination {
    padding: 0 20px;
    top: 0;
    width: 100% !important;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20px;
    @include transition;
    gap: 5px;
    display: flex;
    align-items: flex-end;
    
    .bullet-wrapper {
        display: flex;
        align-items: flex-end;
        width: 100%;
        height: 2px;
        background: $white;
    }
    
    .swiper-pagination-bullet {
        width: 100%;
        height: 100%;
        cursor: pointer;
        min-height: 0;
        border-radius: 0;
        background: transparent !important;
        @include transition;
        align-items: flex-end;
    
        &-active {
            .bullet-wrapper {
                background: #425EF1;
            }
        }
    }
  }

  &__preview {
    position: relative;
    width: 100%;
    height: 268px;
    border-radius: 20px;
    background: #DDE6F7;
  }

  &__description {
    padding: 20px 20px 35px 20px;
  }

  &__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;

    &__name {
      max-width: 258px;
    }

    &__year {
      white-space: nowrap;
      color: #808080;
    }
  }

  &__spec {
    color: #808080;
    
    &__wrapper {
      display: flex;
      gap: 20px;
      align-items: center;
      margin-bottom: 15px;
    }
  }

  &__credit {
    color: #808080;
  }

  &__price {
    &.stock {
        color: #FF4242;
    }

    &__old {
        color: rgba(0, 0, 0, 0.50);
        text-decoration: line-through;
    }

    &__wrapper {
      display: flex;
      flex-direction: column;
      gap: 10px;

      .tooltip {
        position: absolute;
        top: 0;
        left: 100%;

        &__icon {
            cursor: pointer;
        }

        .tooltip__icon:hover + .tooltip__body {
            display: block;
        }

        &__body {
            display: none;
            bottom: calc(100% + 4px);
            right: 50%;
            transform: translateX(50%);
            font-size: 14px;
            font-weight: 500;
            height: 47px;
            padding: 15px 20px 24px;
            background: #000;
            color: #fff;
            position: absolute;
            width: fit-content;
            white-space: nowrap;
        }
      }
      
      .catalog-price {
        flex-direction: row;
        align-items: center;
        gap: 8px;
      }

      div {
        position: relative;
        display: flex;
        flex-direction: column;
      }
    }
  }

  &__action {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .button {
        font-size: 14px;
    }
  }
}


@media (max-width: 1100px) {
  .car-item {
    &__title {
      &__name {
        width: 218px;
      }
    }

    &__action {
      flex-direction: column;
      align-items: flex-start;
      gap: 19px;

      .button {
        width: 100%;
      }
    }
  }
}