.car-info {
    background: #F2F6FD;
    border-radius: 100px 100px 0 0;
    padding: 80px 80px 40px 80px;
    margin-top: 257px;
    display: flex;
    gap: 20px;

    &__container {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    &__title {

    }

    &__credit {
        position: sticky;
        top: 40px;
        height: fit-content;
        flex-shrink: 0;
        padding: 20px;
        border-radius: 20px;
        background: #DDE6F7;

        .credit-main__credit-info__wrapper {
            padding: 0;
        }
        
        &__title {
            margin-bottom: 10px;
        }

        &__button {
            margin-bottom: 40px;
            width: 100%;
        }
    }

    &__gift {
        &__title {
            margin-bottom: 20px;
        }

        &__item {
            position: relative;
            height: 260px;
            padding: 20px;
            border-radius: 20px;
            background: transparent;

            &__title {
                position: relative;
                z-index: 2;
                font-size: 20px;
                font-style: normal;
                font-weight: 500;
                line-height: 120%; /* 24px */
            }
        }

        &__swiper {
            max-width: 376px;

            .car-info__gift__img {
                position: absolute;
                border-radius: 20px;
                object-fit: cover;
                width: 100%;
                height: 100%;
                z-index: 1;
                top: 0;
                left: 0;
            }

            .swiper-pagination {
                padding: 0 20px;
                top: 0;
                width: 100% !important;
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
                bottom: 20px;
                @include transition;
                gap: 5px;
                display: flex;
                align-items: flex-end;
                
                .bullet-wrapper {
                    display: flex;
                    align-items: flex-end;
                    width: 100%;
                    height: 2px;
                    background: $white;
                }
                
                .swiper-pagination-bullet {
                    width: 100%;
                    height: 100%;
                    cursor: pointer;
                    min-height: 0;
                    border-radius: 0;
                    background: transparent !important;
                    @include transition;
                    align-items: flex-end;
                
                    &-active {
                        .bullet-wrapper {
                            background: #425EF1;
                        }
                    }
                }
              }
        }
    }

    .credit-conditions__settings__range__wrapper {
        margin-top: 20px;
        margin-bottom: 40px;
    }

    &__price {
        margin-bottom: 10px;
        width: fit-content;
    }

    &__price-old {
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 140%; /* 25.2px */
        text-decoration-line: line-through;
        color: #7D849A;
    }

    &__credit-sum {
        color: rgba(0, 0, 0, 0.50);
        margin-bottom: 20px;
        width: fit-content;
    }

    &__card {
        display: flex;
        gap: 20px;
    }

    &__gallery {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 100%;

        &__big {
            border-radius: 20px;
            width: 100%;
            background: #fff;
            height: 419px;
            cursor: pointer;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 20px;
            }
        }

        &__small {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 20px;

            &__item {
                position: relative;
                height: 77px;
                background: #fff;
                border-radius: 15px;
                cursor: pointer;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 15px;
                }
            }
        }
    }

    &__button {
        margin-bottom: 20px;
    }

    &__about {
        max-width: 424px;
        padding: 20px 20px 75px 20px;
        border-radius: 15px;
        background: #FFF;

        &__container {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 10px;
        }

        &__title {
            margin-bottom: 20px;
        }

        &__item {
            display: flex;
            gap: 10px;
            align-items: center;

            &__text {
                display: flex;
                flex-direction: column;

            }
        }
    }

    &__wrapper {
        flex-shrink: 0;
        width: fit-content;
    }

    .model-description__grid {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
        -webkit-column-gap: 90px;
        -moz-column-gap: 90px;
        column-gap: 90px;
    }
    
    .model-description__block-title {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 20px;
    }
    
    .model-description__block {
        margin-bottom: 40px;
        display: inline-table;
    }
    
    .model-description__block-list {
        display: -ms-grid;
        display: grid;
        grid-gap: 10px;
    }
    
    .model-description__block-list-item {
        font-size: 18px;
        font-weight: 500;
    }

    &__spec {
        padding: 40px;
        border-radius: 15px;
        background: #fff;

        &__right {
            .car-info__spec__select {
                padding-top: 25px;

                &:first-child {
                    padding-top: 0;
                }
            }
        }
        &__items {
            display: flex;
            flex-direction: column;
            gap: 15px;
            margin-bottom: 12px;
        }

        &__select {
            display: flex;
            align-items: center;
            gap: 8px;

            .chevron-icon {
                width: 24px;
                height: 24px;
                transition: 0.3s all;
            }
        }

        &__item {
            display: flex;
            flex-direction: column;
            gap: 8px;
            transition: 0.3s all;
            interpolate-size: allow-keywords;
            cursor: pointer;

            &[open] {
                color: #425EF1;
                padding-bottom: 25px;

                .chevron-icon {
                    transform: rotate(180deg);
                    background: #425EF1;
                }
            }

            &::details-content {
                transition:
                  block-size 1s, content-visibility 1s allow-discrete;
                overflow: hidden;
                block-size: 0;     /* Or also:  height:0; */
            }

            &[open]::details-content {
                block-size: auto;  /* Or also:  height:auto; */
            }

            &__title {
                color: #9BA1B3;
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: 140%; /* 22.4px */
                transition: 0.3s all;
            }

            &__value {
                color: #000;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }
        }
    }

    &__credit-mobile {
        display: none;
    }

    .more-photo {
        position: absolute;
        background: rgba(0, 0, 0, 0.40);
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        cursor: pointer;
        border-radius: 15px;
        display: flex;
        justify-content: center;
        align-items: center;

        &__text {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            color: #fff;
        }
    }
}


@media (max-width: 1400px) {
    .car-info__card {
        flex-wrap: wrap;
    }

    .car-info__wrapper {
        width: 100%;
    }
    
    .car-info__about {
        max-width: none;
    }
}

@media (max-width: 1332px) {
    .car-info {
        padding: 80px 32px 40px 32px;
    }
}

@media (max-width: 1100px) {
    .car-info { 
        flex-direction: column;
        border-radius: 20px 20px 0 0;
        padding: 30px 16px;
        
        &__title {
            font-size: 24px;
            font-style: normal;
            font-weight: 600;
            line-height: 120%; /* 28.8px */
        }

        &__price-old {
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: 140%; /* 25.2px */
        }

        &__credit-sum {
            font-size: 20px;
            font-style: normal;
            font-weight: 500;
            line-height: 140%; /* 28px */
        }

        &__button {
            display: none;
        }

        &__price {
            .title-m {
                font-size: 30px;
                font-style: normal;
                font-weight: 500;
                line-height: 120%; /* 36px */
            }
        }

        &__credit-mobile {
            display: block;
            width: 100%;
        }

        &__about {
            margin-top: 20px;
            width: 100%;
            max-width: none;
        }

        &__gallery {
            display: none;
        }

        &__wrapper {
            width: 100%;
        }

        &__card {
            flex-direction: column;
        }

        .model-description__grid {
            column-count: 1;
        }

        &__credit {
            padding: 20px;

            &__title {
                font-size: 20px;
                font-style: normal;
                font-weight: 600;
                line-height: 120%; /* 24px */
                margin-bottom: 4px;
            }

            &__car-name {
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 140%;
            }

            .range__title {
                font-size: 14px;
                font-style: normal;
                font-weight: 500;
                line-height: 140%; /* 19.6px */
            }

            .range__top {
                align-items: center;
            }
            .credit-conditions__settings__range .range__title {
                font-size: 10px;
            }
        }

        &__gift__swiper {
            max-width: none;
        }
    }
}

@media (min-width: 1740px) {
    .car-info {
        &__gallery {
            flex-direction: row;
            max-height: 516px;

            &__big {
                max-width: 80%;
                height: 100%;
            }

            &__small {
                grid-template-columns: auto;
                grid-template-rows: repeat(4, 1fr);
                gap: 10px; 
                width: 20%;

                &__item {
                    max-height: 122px;
                    height: 100%;
                }
            }

        }
    }
}