.credit-banner {
  &__navigation {
    justify-content: flex-start;
  }
  &__item {
    background: #F2F6FD;
  
    &__wrapper {
      position: relative;
      padding: 60px 80px;
      border-radius: 100px 100px 0px 0px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &__photo {
      position: absolute;
      bottom: 40px;
      left: 30%;
      max-height: 537px;
      width: 700px;
    }
  }

  &__bg-1 {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../images/icons/banner-bg-1.svg");
  }

  &__text {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 40px;
  }

  &__title {
    font-size: 100px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 120px */
  }

  &__desc {
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%; /* 28px */
  }

  &__form {
    position: relative;
    z-index: 1;
    max-width: 573px;
    display: flex;
    flex-direction: column;
    border-radius: 60px;
    background: #DDE6F7;
    gap: 40px;
    padding: 60px 80px;

    &__wrapper {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
  }
}

.credit-swiper-pagination {
  position: absolute;
  left: 50% !important;
  transform: translateX(-50%) !important;

  &.swiper-pagination {
    padding: 0 20px;
    width: 100% !important;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20px;
    @include transition;
    gap: 5px;
    justify-content: center;

    .swiper-pagination-bullet {
      width: 100%;
      max-width: 278px;
      height: 4px;
      background: #7D849A;
      min-height: 0;
      border-radius: 0;
      @include transition;
      opacity: 0.4;
    
      &-active {
        opacity: 1;
        background: #425EF1;
      }
    }
  }
}

@media (max-width: 1100px) {
  .credit-banner {
    &__text {
      margin-bottom: 240px;
    }

    &__title {
      font-size: 28px;
      font-style: normal;
      font-weight: 700;
      line-height: 120%; /* 33.6px */
    }
    
    &__item__photo {
      bottom: 500px;
      left: 50%;
      transform: translateX(-50%);
      width: 300px;
    }

    &__desc {
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 140%; /* 22.4px */
    }

    &__form {
      max-width: 328px;
      margin: 0 16px;
      border-radius: 20px;
      padding: 20px;
      gap: 24px;

      &__title {
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: 120%; /* 24px */
      }
    }

    &__navigation {
      display: none;
    }

    &__item {
      z-index: 2 ;
      &__wrapper {
        flex-direction: column;
        padding: 30px 16px;
      }
    }
  }

  .credit-swiper-pagination {
    top: -60px !important;
  }
}