.filter {
    position: sticky;
    padding: 20px;
    border-radius: 20px;
    background: #DDE6F7;
    display: flex;
    flex-direction: column;
    top: 20px;
    gap: 20px;
    height: fit-content;
    grid-column: auto / span 1;
    grid-row: 1 / span 8;

    &__buttons {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    &__toggle {
        margin-bottom: 60px;
    }
    
    .button-outline {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 4px;

        .cross-icon {
            width: 24px;
            height: 24px;
        }
    }

    .input__wrapper {
        min-height: auto;

        .input {
            height: 40px;
        }

        .input-left {
            border-radius: 20px 0 0 20px;
        }

        .input-right {
            border-radius: 0 20px 20px 0;
        }

        .input__container {
            display: flex;
            gap: 5px;
        }

        .input {
            width: 50%;
        }
    }

    .select__wrapper {
        display: flex;
        flex-direction: column;
        gap: 10px;

        .select2-selection--single {
            min-height: auto;
            height: 40px;
        }
    }
}


@media (max-width: 1100px) {
    .filter {
        position: sticky;
    }

    .filter__toggle {
        display: none;
    }
}

@media (max-width: 695px) {
    .filter {
        position: static;
    }
}