.sales {
    margin-bottom: 60px;

    &-content {

        &+.footer {
            background: #F2F6FD;
        }
    }

    &-page {
        margin-bottom: 0;
        margin-top: 80px;
        border-radius: 100px 100px 0px 0px;
        background: #F2F6FD;
        padding-top: 80px;
        padding-bottom: 80px;
    }

    &__wrapper {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 10px;
    }

    &__item {
        background: $white;
        border-radius: 20px;
        box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.10);
        
        &__image {
            height: 268px;
            border-radius: 20px;

            img {
                height: 100%;
                border-radius: 20px;
                object-fit: cover;
                width: 100%;
            }
        }

        &__title {
            font-size: 30px;
            font-style: normal;
            font-weight: 500;
            line-height: 120%; /* 36px */
            margin-bottom: 15px;
        }

        &__button {
            margin-top: auto;
        }
        &__desc {
            height: max-content;
            flex-shrink: 1;
            color: #6D7381;
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: 140%; /* 25.2px */
        }

        &__body {
            height: 279px;
            display: flex;
            flex-direction: column;
            padding: 20px;
        }
    }
}


@media (max-width: 1100px) {
    .sales__wrapper {
        grid-template-columns: repeat(auto-fill, minmax(328px, 1fr));
    }

    .sales-page {
        border-radius: 40px 40px 0 0;
        margin-top: 60px;
        padding-top: 40px;
        padding-bottom: 40px;
    }
    
    .sales__item__image {
        height: 218px;
    }

    .sales__item__body {
        height: auto;
    }

    .sales__item__button {
        margin-top: 20px;
    } 

    .sales__item__title {
        font-size: 24px;
    }

    .sales__item__desc {
        font-size: 14px;
    }
}